In [ ]:
print("Hello shree")

Hello shree

In [ ]:
# This program add two number

num1=6.3
num2=35.5

sum=num1+num2

print("The sum of {0} and {1} is {2} ".format(num1, num2, sum))

The sum of 6.3 and 35.5 is 41.8

In [ ]:
# input from user add two number
num1=float(input("Enter the number"))
num2=float(input("Enter the number"))

sum= num1+num2

print("The sum of {0} and {1} is {2}".format(num1,num2,sum))

Enter the number67.78
Enter the number2.5
The sum of 67.78 and 2.5 is 70.28

In [ ]:
print('The sum is %.1f' %(float(input('Enter first number: ')) + float(input('Enter second number: '))))

Enter first number: 45.5
Enter second number: 34.5
The sum is 80.0

In [ ]:
#program to find to area of triangle
a=34
b=32
c=12

#calculate the semi-perimeter
s=(a+b+c)/2

#calculate the area of triangle
area=(s*(s-a)*(s-b)*(s-c))**0.5

print("the area of tringle is %0.4f" %area) # %0.4f or %0.2f is use to represent the float

the area of tringle is 191.9766

In [ ]:
# python program to two variable

x=input("Enter the x value:")
y=input("Enter the y value:")

temp=x
x=y
y=temp

print("The x value after swapping:{0}".format(x))
print("The y value after swapping:{0}".format(y))

Enter the x value:76
Enter the y value:98
The x value after swapping:98
The y value after swapping:76

In [ ]:
# python program without the use temp swap the two value

x=100
y=200

x,y=y,x
print("x=",x)
print("y=",y)

x= 200
y= 100

In [ ]:
x=7000
y=8000

x=x+y
y=x-y
x=x-y

print("x=",x)
print("y=",y)

x= 8000
y= 7000

In [15]:
# python program th generate the random value 0 to 9

#import the random module
import random
y=random.randint(0,9)
print(y)

8

In [ ]:
# python program kilometre to miles
kilometer=float(input("Enter the kilometers::"))

conv_fac=0.62171

miles=kilometer*conv_fac

print("{0} kilometer to convert miles is {1}".format(kilometer,miles))

Enter the kilometers::67.90
67.9 kilometer to convert miles is 42.214109

In [ ]:
b="hello, the love world!" 
c="good morning"  
print(b+c)

hello, the love world!good morning

In [ ]:
a=400
b=400
if a>b:
  print("a is greater then b")
elif a==b:
  print("b is equal than a")

b is equal than a

In [ ]:
#extra example 
a=300
b=34
print("a is greater than b") if a>b else print("b is grater than a ")

a is greater than b

In [ ]:
n=89
m=777
o=890
if n>m or o>n:
  print("a")
else:
  print("b")

a

In [5]:
#function
def myfun():
  print("BHAGYASHRI PATIL")

myfun()

BHAGYASHRI PATIL

In [6]:
#function
def myfun1(x):                #when i define the function then i will pass parameter(x)
  print(x+" "+"patil")

myfun1("BHAGI")                  #when i define the function then i will call argument("my")

BHAGI patil

In [ ]:
#funtion
def myfun(x,y,z):
  print("i"+" "+x+" "+y)
  print(z+" "+"world")


myfun("love","you","hello")

i love you
hello world

In [ ]:
#for loop
joke=[1,12,2,3,4,32,43,5,33,345]
for i in joke:
  if i==32:
    continue     # skip 32 and continue
  print(i)

1
12
2
3
4
43
5
33
345

In [ ]:
#for loop using break
d=[8,45,43,23,2,26,7,5]
for i in d:
  print(i)
  if i==26:
    break               #26 after the break value

8
45
43
23
2
26

In [1]:
#for loop range
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(20,40):
  print(i)

20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39

In [ ]:
#while loop
i=1
while i<=10:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#while loop using break
b=1
while b<=10:
  print(b)
  if b==6:
    break
  b+=1

1
2
3
4
5
6

In [ ]:
#while loop using continue
b=0
while b<=10:
    b+=1
    if b==6:
      continue
  
    print(b)

1
2
3
4
5
7
8
9
10
11

In [ ]:
def trial(a,b):
  print(a+" "+b)

trial("hey","shree")

heyshree

In [ ]:
list=["family","friend","boyfriend"]
def loop(x):
  print(x*3)

loop(list)

['family', 'friend', 'boyfriend', 'family', 'friend', 'boyfriend', 'family', 'friend', 'boyfriend']

In [ ]:
list=["family","friend","boyfriend"]
def loop(x):
  print(x*3)

def mapp(me,list):
  for items in list:
    me(items)

mapp(loop,list)

familyfamilyfamily
friendfriendfriend
boyfriendboyfriendboyfriend

In [ ]:
#list[]
#list== ordered, chnageable and allow duplicate
list=["car","me",34,3.5,"true"]
print(list)
print(len(list))                                #length the list start from 1 and index start from 0
print(type(list))
print(list[0])                                   #print the 0 th index value
print(list[2:5])                                #range the list
print(list[: : -1])                             # reverse the list
list[4]="bike"                                  # change the value
print(list)
list.insert(3,"tata")                             #insert the value in any index
print(list)
list.append("love")                               #bike after the add value at the last add value
print(list)

['car', 'me', 34, 3.5, 'true']
5
<class 'list'>
car
[34, 3.5, 'true']
['true', 3.5, 34, 'me', 'car']
['car', 'me', 34, 3.5, 'bike']
['car', 'me', 34, 'tata', 3.5, 'bike']
['car', 'me', 34, 'tata', 3.5, 'bike', 'love']

In [ ]:
#tuple ()
#odered ,unchangeable,and allow duplicate
tuple=("mike","joy",67,678.9,"trur","nike")
print(tuple)
print(len(tuple))
print(type(tuple))
print(tuple[4])
print(tuple[2:5])

('mike', 'joy', 67, 678.9, 'trur', 'nike')
6
<class 'tuple'>
trur
(67, 678.9, 'trur')

In [4]:
#suppose i want to change the tuple value
#then i will tuple convert the list then the tuple value change

z=("jgj","hbvhjb",67,677,345,"true")
y= list('me')
y[1]="love"
t= tuple(z)
print(t) 
print(y)

('jgj', 'hbvhjb', 67, 677, 345, 'true')
['m', 'love']